{% extends 'basepractica2.html.twig' %}

{% block titulo %}Alta - {{ parent() }}{% endblock %}
{% block cabecera %}
        <h1 class="display-8">Alta nuevos productos</h1>
{% endblock %}
{% block contenido %}
    <p class="lead ">Estamos en la página de alta de productos. Aquí podremos crear en un futuro las nuevas entradas en el catálogo.</a>
{% endblock %}
