{% extends 'basepractica2.html.twig' %}

{% block titulo %}Modificación - {{ parent() }}{% endblock %}
{% block cabecera %}
        <h1 class="display-8">Modificación productos</h1>
{% endblock %}
{% block contenido %}
<p>Aqui modificaremos los productos.</p>
    <p class="text-center">En la posada del fracaso<br>Donde no hay consuelo ni ascensor<br>El desamparo y la humedad<br>Comparten colchón<br>Y cuando, por la calle<br>Pasa la vida, como un huracán<br>El hombre del traje gris<br>Saca un sucio calendario del<br>Bolsillo y grita<br>¿Quién me ha robado el mes de abril?<br>¿Cómo pudo sucederme a mí?<br>¿Pero, quién me ha robado el mes de abril?<br>Lo guardaba en el cajón<br>Donde guardo el corazón<br>La chica de BUP casi todas<br>Las asignaturas suspendió<br>El curso en que preñada<br>Aquel chaval la dejó y cuando en la pizarra<br>Pasa lista en profe de latín<br>Lágrimas de desamor<br>Ruedan por la página de un bloc<br>Y en él escribe<br>¿Quién me ha robado el mes de abril?<br>¿Cómo pudo sucederme a mí?<br>¿Pero, quién me ha robado el mes de abril?<br>Lo guardaba en el cajón<br>Donde guardo el corazón<br>El marido de mi madre<br>Que en el último tren se largó<br>Con una peluquera<br>Veinte años menor<br>Y cuando exiben esas risas<br>De Instamatic en París<br>Derrotada en el sillón<br>Se marchita viendo Falcon Crest<br>Mi vieja y piensa<br>¿Quién me ha robado el mes de abril?<br>¿Cómo pudo sucederme a mí?<br>¿Pero, quién me ha robado el mes de abril?<br>Lo guardaba en el cajón<br>Donde guardo el corazón</p>
{% endblock %}
