<h5>Opciones</h5>
<div class="btn-group">
    <a href="{{ path("alta" ) }}"    class="btn btn-outline-success">   Alta     </a>
    <a href="{{ path('baja') }}"     class="btn btn-outline-success">   Baja     </a>
    <a href="{{ path('modifica') }}" class="btn btn-outline-success">Modificación</a>
    <a href="{{ path('listado') }}"  class="btn btn-outline-success">Listado     </a>
</div>